*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', Times, serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000000;
    padding: 1rem;
}

ul a {
    color: white;
    text-decoration: none;
}
ul {
    list-style: none;
    display: flex;
    gap: 50px;
}
